# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv
venv/
env/

# Test & coverage
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/

# Editor
.vscode/
.idea/
.cursorignore
.cursorindexingignore

# OS
.DS_Store
Thumbs.db
